<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">
            org.hsqldb.jdbc.JDBCDriver
        </property>
        <property name="connection.url">
            jdbc:hsqldb:c://temp//hibernate_tests//db2;shutdown=true
        </property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!--<mapping class="org.study.hibernate.*" />-->
        <mapping class="org.study.hibernate.simple.PojoPerson"/>
        <mapping class="org.study.hibernate.simple.UUIDPojo"/>
        <mapping class="org.study.hibernate.simple.SequencedPojo"/>
        <mapping class="org.study.hibernate.onetoone.OneToOnePerson"/>
        <mapping class="org.study.hibernate.onetoone.OneToOneEmail"/>
        <mapping class="org.study.hibernate.enums.Person"/>
        <mapping class="org.study.hibernate.onetomany.Email"/>
        <mapping class="org.study.hibernate.onetomany.Person"/>
        <mapping class="org.study.hibernate.onetomany.Address"/>
        <mapping class="org.study.hibernate.criterias.Person"/>
        <mapping class="org.study.hibernate.collections.Person"/>
        <mapping class="org.study.hibernate.collections.Email"/>
        <mapping class="org.study.hibernate.inheritance.BaseClass"/>
        <mapping class="org.study.hibernate.inheritance.ClassB"/>
        <mapping class="org.study.hibernate.inheritance.ClassC"/>
        <mapping class="org.study.hibernate.inheritance.ClassCD"/>
        <mapping class="org.study.hibernate.embedding.Person"/>
        <mapping class="org.study.hibernate.embedding.Address"/>
        <mapping class="org.study.hibernate.converter.Person"/>
        <mapping class="org.study.hibernate.converter.Address"/>
        <mapping class="org.study.hibernate.customtype.Person"/>
    </session-factory>
</hibernate-configuration>